body {
  align-content: center;
  align-items: center;
  text-align: center;
  background:linear-gradient(to right, #488e8b, #ed5d6e );
  margin: 0;
}

.hero {
  display: flex;
  align-content: center;
  flex-direction: row;
  padding-top: 2%;
}

#dispRawData, #dispSortedData  {
  width: 50%;
  min-height: 35vh;
  max-height: 80vh;
}

#rawData, #sortedData {
  width: 90%;
  min-height: 35vh;
  max-height: 80vh;
}

h1 { 
  color:  #3353ab; 
  font-family: 'Trocchi', serif; 
  font-size: 45px; 
  font-weight: normal; 
  line-height: 48px; 
  font-weight: bold;
  margin: 0; 
}

textarea {
  font-family: 'Brush Script MT', cursive;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#gpxBtn {
  position:absolute;
  bottom:0;
  right: 4%;
  padding : 1%;
}

#viewBtn {
  position: relative;
}
#topNav {
  margin-top: 5vh;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #f1e150;
}

.footerDiv {
  padding: 0%;
}

button:disabled {
  background: grey;
}

@media screen and (max-width: 800px) and (min-width: 434px) {
  
  .hero {
    flex-direction: column;
  }
  div {
    width: 100%;
  }
  #rawData, #sortedData {
    min-height: 25vh;
  }
  #dispRawData, #dispSortedData  {
    width: 100%;
    min-height: 25vh;
  }
  
}